<fieldset>
  <div class="row">
    <div class="col-xs-3">
      <%= f.label :descripcion %>
      <%= f.text_field :descripcion, class: 'form-control' %>
    </div>

    <div class="col-xs-3">
      <%= f.label :estudiante %>
      <%= f.text_field :estudiante, class: 'form-control' %>
    </div>

    <div class="col-xs-1">
      <%= f.hidden_field :_destroy %>
      &nbsp;
      <%= link_to_remove_fields_nested 'Eliminar', f %>
    </div>

  </div>

  <%= f.fields_for :acciones do |t| %>
    <%= render 'accion_fields', f: t %>
  <% end %>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to_add_fields "Agregar Accion", f, :acciones %>
    </div>
  </div>
</fieldset>